name: Data Sync to My HF

on:
  schedule:
    - cron: '0 0 * * *' # 每天 UTC 时间 0:00 运行（北京时间早上 8:00）
  workflow_dispatch:      # 允许你点击按钮手动运行

jobs:
  sync-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          lfs: true # 开启 LFS 支持
          fetch-depth: 0

      - name: Global Config
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git lfs install

      - name: Sync Data
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # 1. 添加原作者地址 (Upstream)
          git remote add upstream https://huggingface.co/datasets/bwzheng2010/yahoo-finance-data || echo "Upstream remote already exists"
          
          # 2. 添加你自己的地址 (Target)
          git remote add target https://winterandchaiyun:$HF_TOKEN@huggingface.co/datasets/winterandchaiyun/yahoo-finance-data || \
          git remote set-url target https://winterandchaiyun:$HF_TOKEN@huggingface.co/datasets/winterandchaiyun/yahoo-finance-data
          
          # 3. 拉取原作者最新的数据到 GitHub 临时空间
          git fetch upstream main
          
          # 4. 合并数据，如果有冲突以原作者的为准 (-X theirs)
          git merge upstream/main -m "Auto-sync from bwzheng2010 [skip ci]" -X theirs --allow-unrelated-histories || true
          
          # 5. 把合并后的完整数据（含 LFS 大文件）推送到你自己的 HF 页面
          git push target main --force
